---
author: Martin Kacej
created_at: 2018-05-03 20:35:47 UTC
date: "2018-05-03T00:00:00Z"
title: Wireless setting for Plasma Mobile
---
<p>Month after my proposed design (but in truth i am working on this for longer time), i am finally finished basic functionality for wireless section of mobile settings. Basics of UI is also almost done, even it&#8217;s need some polishing and good criticism of designers.</p>
<p><span id="more-27"></span></p>
<h4>Goals &amp; fails</h4>
<p>Most functionality works fine &#8211; turning off/on device, connecting, changing password or creating hotspot is okay. However, there is some non-trivial issues.</p>
<p>Iin current Kirigami plasma-settings, applicationWindow element is not wotking so properly, causing not possible to go &#8220;deeper&#8221; in pageStack, as it been proposed in design. But i heard that whole module system should be rewritten, so maybe in future&#8230;.</p>
<p>Plasma Mobile uses Breeze theme as default, so i am developing with this theme in mind. Using other themes (mostly dark) is currently causing various UI problems.</p>
<p>Access point has bug, when in once created AP you cant change security setting.</p>
<p>Enterprise (802.1x) setting are not implemented in app, questionable is when it will be. But, for now when trying to connect such network the desktop widget with corresponding dialog is displayed, so i think it&#8217;s not an issue.</p>
<h4>Main view</h4>
<p>Wireless settings will be part of plasma-settings, so new item is added (please ignore non-functional icons, something bad happened to my distro while changing themes <img src="/img/cache/_img_cache_https:__s0.wp.com_wp-content_mu-plugins_wpcom-smileys_twemoji_2_72x72_1f626.png" alt="😦" class="wp-smiley" style="height: 1em; max-height: 1em;" /> )</p>
<p><img data-attachment-id="35" data-permalink="https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/settings/" data-orig-file="https://mkacej.files.wordpress.com/2018/05/settings.png" data-orig-size="369,574" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Item in settings" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/05/settings.png?w=193" data-large-file="https://mkacej.files.wordpress.com/2018/05/settings.png?w=369" class="aligncenter size-medium wp-image-35" src="https://mkacej.files.wordpress.com/2018/05/settings.png?w=193&#038;h=300" alt="Item in settings" width="193" height="300" srcset="https://mkacej.files.wordpress.com/2018/05/settings.png?w=193&amp;h=300 193w, https://mkacej.files.wordpress.com/2018/05/settings.png?w=96&amp;h=150 96w, https://mkacej.files.wordpress.com/2018/05/settings.png 369w" sizes="(max-width: 193px) 85vw, 193px" /></p>
<p>Standard view with available networks, active is on top, i am planning to add time information under name just like in desktop applet</p>
<p><img data-attachment-id="39" data-permalink="https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/wifi-main/" data-orig-file="https://mkacej.files.wordpress.com/2018/05/wifi-main.png" data-orig-size="369,574" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="wifi-main" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/05/wifi-main.png?w=193" data-large-file="https://mkacej.files.wordpress.com/2018/05/wifi-main.png?w=369" class=" size-full wp-image-39 aligncenter" src="https://mkacej.files.wordpress.com/2018/05/wifi-main.png?w=840" alt="wifi-main" srcset="https://mkacej.files.wordpress.com/2018/05/wifi-main.png 369w, https://mkacej.files.wordpress.com/2018/05/wifi-main.png?w=96 96w, https://mkacej.files.wordpress.com/2018/05/wifi-main.png?w=193 193w" sizes="(max-width: 369px) 85vw, 369px"   /></p>
<p>Yes, overlapping is also problem <img src="/img/cache/_img_cache_https:__s0.wp.com_wp-content_mu-plugins_wpcom-smileys_twemoji_2_72x72_1f642.png" alt="🙂" class="wp-smiley" style="height: 1em; max-height: 1em;" /> I don&#8217;t like busy indicator, but i think it&#8217;s theme dependant, so i will take a look on that. Q: Where should be that indicator ? For me is logically around network icon (&#8220;network is working&#8221;), but with convergence in mind, desktop has it on opposite side.</p>

<a href='https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/roller/'><img width="100" height="150" src="https://mkacej.files.wordpress.com/2018/05/roller.png?w=100&#038;h=150" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://mkacej.files.wordpress.com/2018/05/roller.png?w=100 100w, https://mkacej.files.wordpress.com/2018/05/roller.png?w=200 200w" sizes="(max-width: 100px) 85vw, 100px" data-attachment-id="34" data-permalink="https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/roller/" data-orig-file="https://mkacej.files.wordpress.com/2018/05/roller.png" data-orig-size="409,614" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="roller" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/05/roller.png?w=200" data-large-file="https://mkacej.files.wordpress.com/2018/05/roller.png?w=409" /></a>
<a href='https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/screenshot_20180503_213418/'><img width="150" height="133" src="https://mkacej.files.wordpress.com/2018/05/screenshot_20180503_213418.png?w=150&#038;h=133" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://mkacej.files.wordpress.com/2018/05/screenshot_20180503_213418.png?w=150 150w, https://mkacej.files.wordpress.com/2018/05/screenshot_20180503_213418.png?w=300 300w" sizes="(max-width: 150px) 85vw, 150px" data-attachment-id="42" data-permalink="https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/screenshot_20180503_213418/" data-orig-file="https://mkacej.files.wordpress.com/2018/05/screenshot_20180503_213418.png" data-orig-size="436,388" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Screenshot_20180503_213418" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/05/screenshot_20180503_213418.png?w=300" data-large-file="https://mkacej.files.wordpress.com/2018/05/screenshot_20180503_213418.png?w=436" /></a>

<p>Under swipe list item are actions for that connection, as been recommended to me, mobile keyboard has own &#8220;Enter&#8221;, so confirmation button for password is not necessary. Discussable is &#8220;disconnect&#8221; button if is it even necessary.</p>
<p><img data-attachment-id="36" data-permalink="https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/wifi-actions/" data-orig-file="https://mkacej.files.wordpress.com/2018/05/wifi-actions.png" data-orig-size="409,614" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="wifi-actions" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/05/wifi-actions.png?w=200" data-large-file="https://mkacej.files.wordpress.com/2018/05/wifi-actions.png?w=409" class=" size-full wp-image-36 aligncenter" src="https://mkacej.files.wordpress.com/2018/05/wifi-actions.png?w=840" alt="wifi-actions" srcset="https://mkacej.files.wordpress.com/2018/05/wifi-actions.png 409w, https://mkacej.files.wordpress.com/2018/05/wifi-actions.png?w=100 100w, https://mkacej.files.wordpress.com/2018/05/wifi-actions.png?w=200 200w" sizes="(max-width: 409px) 85vw, 409px"   /></p>
<p>Confirmation dialogue when you want remove connection settings, bottom drawer</p>
<p><img data-attachment-id="38" data-permalink="https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/wifi-delete/" data-orig-file="https://mkacej.files.wordpress.com/2018/05/wifi-delete.png" data-orig-size="369,574" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="wifi-delete" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/05/wifi-delete.png?w=193" data-large-file="https://mkacej.files.wordpress.com/2018/05/wifi-delete.png?w=369" class=" size-full wp-image-38 aligncenter" src="https://mkacej.files.wordpress.com/2018/05/wifi-delete.png?w=840" alt="wifi-delete" srcset="https://mkacej.files.wordpress.com/2018/05/wifi-delete.png 369w, https://mkacej.files.wordpress.com/2018/05/wifi-delete.png?w=96 96w, https://mkacej.files.wordpress.com/2018/05/wifi-delete.png?w=193 193w" sizes="(max-width: 369px) 85vw, 369px"   /></p>
<p>Contextual drawer on bottom right can open for example view with past connections (checkable button)</p>
<p><img data-attachment-id="41" data-permalink="https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/wifi-saved-menu/" data-orig-file="https://mkacej.files.wordpress.com/2018/05/wifi-saved-menu.png" data-orig-size="409,614" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="wifi-saved-menu" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/05/wifi-saved-menu.png?w=200" data-large-file="https://mkacej.files.wordpress.com/2018/05/wifi-saved-menu.png?w=409" class=" size-full wp-image-41 aligncenter" src="https://mkacej.files.wordpress.com/2018/05/wifi-saved-menu.png?w=840" alt="wifi-saved-menu" srcset="https://mkacej.files.wordpress.com/2018/05/wifi-saved-menu.png 409w, https://mkacej.files.wordpress.com/2018/05/wifi-saved-menu.png?w=100 100w, https://mkacej.files.wordpress.com/2018/05/wifi-saved-menu.png?w=200 200w" sizes="(max-width: 409px) 85vw, 409px"   /></p>
<p>And saved, historic connections &#8211; is one header label enough for orientation?</p>
<p style="text-align:justify;"><img data-attachment-id="40" data-permalink="https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/wifi-saved/" data-orig-file="https://mkacej.files.wordpress.com/2018/05/wifi-saved.png" data-orig-size="409,614" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="wifi-saved" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/05/wifi-saved.png?w=200" data-large-file="https://mkacej.files.wordpress.com/2018/05/wifi-saved.png?w=409" class=" size-full wp-image-40 aligncenter" src="https://mkacej.files.wordpress.com/2018/05/wifi-saved.png?w=840" alt="wifi-saved" srcset="https://mkacej.files.wordpress.com/2018/05/wifi-saved.png 409w, https://mkacej.files.wordpress.com/2018/05/wifi-saved.png?w=100 100w, https://mkacej.files.wordpress.com/2018/05/wifi-saved.png?w=200 200w" sizes="(max-width: 409px) 85vw, 409px"   /></p>
<p>Editing settings of connection &#8211; in comment in previous post has been questioned proxy settings per connection. Unfortunately, NetworkManagerQt does not support it, so no  <img src="/img/cache/_img_cache_https:__s0.wp.com_wp-content_mu-plugins_wpcom-smileys_twemoji_2_72x72_1f626.png" alt="😦" class="wp-smiley" style="height: 1em; max-height: 1em;" /> What to do with IP settings drop-down (even when 99% of people never use this manual option)? Getting password from settings is currently not supported.</p>

<a href='https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/details/'><img width="96" height="150" src="https://mkacej.files.wordpress.com/2018/05/details.png?w=96&#038;h=150" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://mkacej.files.wordpress.com/2018/05/details.png?w=96 96w, https://mkacej.files.wordpress.com/2018/05/details.png?w=192 192w" sizes="(max-width: 96px) 85vw, 96px" data-attachment-id="31" data-permalink="https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/details/" data-orig-file="https://mkacej.files.wordpress.com/2018/05/details.png" data-orig-size="369,574" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="details" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/05/details.png?w=193" data-large-file="https://mkacej.files.wordpress.com/2018/05/details.png?w=369" /></a>
<a href='https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/details2/'><img width="100" height="150" src="https://mkacej.files.wordpress.com/2018/05/details2.png?w=100&#038;h=150" class="attachment-thumbnail size-thumbnail" alt="" srcset="https://mkacej.files.wordpress.com/2018/05/details2.png?w=100 100w, https://mkacej.files.wordpress.com/2018/05/details2.png?w=200 200w" sizes="(max-width: 100px) 85vw, 100px" data-attachment-id="32" data-permalink="https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/details2/" data-orig-file="https://mkacej.files.wordpress.com/2018/05/details2.png" data-orig-size="409,614" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="details2" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/05/details2.png?w=200" data-large-file="https://mkacej.files.wordpress.com/2018/05/details2.png?w=409" /></a>

<p>&nbsp;</p>
<p>Creating Access Point &#8211; youngest section, finished just few days ago, which has some bugs and needs some layout polishing</p>
<p><img data-attachment-id="29" data-permalink="https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/ap-idle/" data-orig-file="https://mkacej.files.wordpress.com/2018/05/ap-idle.png" data-orig-size="409,614" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="AP-idle" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/05/ap-idle.png?w=200" data-large-file="https://mkacej.files.wordpress.com/2018/05/ap-idle.png?w=409" class=" size-full wp-image-29 aligncenter" src="https://mkacej.files.wordpress.com/2018/05/ap-idle.png?w=840" alt="AP-idle" srcset="https://mkacej.files.wordpress.com/2018/05/ap-idle.png 409w, https://mkacej.files.wordpress.com/2018/05/ap-idle.png?w=100 100w, https://mkacej.files.wordpress.com/2018/05/ap-idle.png?w=200 200w" sizes="(max-width: 409px) 85vw, 409px"   /><img data-attachment-id="30" data-permalink="https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/ap-running/" data-orig-file="https://mkacej.files.wordpress.com/2018/05/ap-running.png" data-orig-size="409,614" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="AP-running" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/05/ap-running.png?w=200" data-large-file="https://mkacej.files.wordpress.com/2018/05/ap-running.png?w=409" class=" size-full wp-image-30 aligncenter" src="https://mkacej.files.wordpress.com/2018/05/ap-running.png?w=840" alt="AP-running" srcset="https://mkacej.files.wordpress.com/2018/05/ap-running.png 409w, https://mkacej.files.wordpress.com/2018/05/ap-running.png?w=100 100w, https://mkacej.files.wordpress.com/2018/05/ap-running.png?w=200 200w" sizes="(max-width: 409px) 85vw, 409px"   /></p>
<p>Finally, the probably least used functionality &#8211; adding wifi network manually, used probably just in scenario of hidden network.</p>
<p><img data-attachment-id="33" data-permalink="https://mkacej.wordpress.com/2018/05/03/wireless-setting-for-plasma-mobile/editr/" data-orig-file="https://mkacej.files.wordpress.com/2018/05/editr.png" data-orig-size="409,614" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="editr" data-image-description="" data-medium-file="https://mkacej.files.wordpress.com/2018/05/editr.png?w=200" data-large-file="https://mkacej.files.wordpress.com/2018/05/editr.png?w=409" class=" size-full wp-image-33 aligncenter" src="https://mkacej.files.wordpress.com/2018/05/editr.png?w=840" alt="editr" srcset="https://mkacej.files.wordpress.com/2018/05/editr.png 409w, https://mkacej.files.wordpress.com/2018/05/editr.png?w=100 100w, https://mkacej.files.wordpress.com/2018/05/editr.png?w=200 200w" sizes="(max-width: 409px) 85vw, 409px"   /></p>
<p>&nbsp;</p>