<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/alligator-22.06.tar.xz">alligator-22.06</a></td>
   <td align="right">175kB</td>
   <td><tt>ae76960d29e247c7150114a097b860b483dddebcc230a9624076c6583f5792c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/angelfish-22.06.tar.xz">angelfish-22.06</a></td>
   <td align="right">136kB</td>
   <td><tt>6e8c743d2e56725bc63113c857e2e647cd389129cd5b023ac964cd08f8fc3369</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/audiotube-22.06.tar.xz">audiotube-22.06</a></td>
   <td align="right">68kB</td>
   <td><tt>802acef347f3e8c68671a4025d4306bffe91d2a177a78a13c345690b52660019</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/calindori-22.06.tar.xz">calindori-22.06</a></td>
   <td align="right">224kB</td>
   <td><tt>073c396948a1565d2c5007a9da2ebed7f152a2e989a98dc337ade9e8c39c8b39</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/kalk-22.06.tar.xz">kalk-22.06</a></td>
   <td align="right">71kB</td>
   <td><tt>6a2b23e57a0e5ab09ed18ee565f0976bcd8dc2bdece5b64be14c4949adcb8325</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/kasts-22.06.tar.xz">kasts-22.06</a></td>
   <td align="right">433kB</td>
   <td><tt>3353997cecaaeb8129b810973e751d221b852bc8fcd0e9970e1fe6fe4855f643</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/kclock-22.06.tar.xz">kclock-22.06</a></td>
   <td align="right">687kB</td>
   <td><tt>32ef3245b6387418abc6a63750c142b375b14bc63b15cb650fb0dcc1567fa2e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/keysmith-22.06.tar.xz">keysmith-22.06</a></td>
   <td align="right">153kB</td>
   <td><tt>d2a73a191eb3fa88472d5740312f1fc69b8fd9bcc5e736fc48bea02beddf8e63</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/khealthcertificate-22.06.tar.xz">khealthcertificate-22.06</a></td>
   <td align="right">262kB</td>
   <td><tt>d0223a1b701d8133e1db92451b378e3815dca54658c01985d18ec1205c4b321d</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/koko-22.06.tar.xz">koko-22.06</a></td>
   <td align="right">131kB</td>
   <td><tt>b452def725d955e7d9f5a8520bb54a0a136504eea6230b9f58b501dc8fa69c39</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/kongress-22.06.tar.xz">kongress-22.06</a></td>
   <td align="right">420kB</td>
   <td><tt>2b6bdc62f1f0b4bd4f750a63c037cb1d74c4a02127295318f922040f76c39ed6</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/krecorder-22.06.tar.xz">krecorder-22.06</a></td>
   <td align="right">145kB</td>
   <td><tt>6f907056f58dcbe4292c2b434420a2fb560eb46d02695801ef3728dfcbc70f91</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/ktrip-22.06.tar.xz">ktrip-22.06</a></td>
   <td align="right">244kB</td>
   <td><tt>145f6a59b383feb527bb7369a86552b33a6bdbd1eb19f5de859d34a430386788</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/kweather-22.06.tar.xz">kweather-22.06</a></td>
   <td align="right">981kB</td>
   <td><tt>f317d9a978e4cfab350fc0eda7bbe90315033eb6eec13d6c73e19bbb3fd78728</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/neochat-22.06.tar.xz">neochat-22.06</a></td>
   <td align="right">328kB</td>
   <td><tt>b6f124e04792a5ba3afe701ea9783640c2b203c4664e28cfb2142f00079b9d9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/plasma-dialer-22.06.tar.xz">plasma-dialer-22.06</a></td>
   <td align="right">93kB</td>
   <td><tt>0745babe172f394b143e9a31be80af96acc967dc6a437926b4c17d9866954b1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/plasma-phonebook-22.06.tar.xz">plasma-phonebook-22.06</a></td>
   <td align="right">203kB</td>
   <td><tt>1c7d1cec7d6a478c9735a6282428b950a87fc9018a9ae215ab8be4271dbd0902</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/plasma-settings-22.06.tar.xz">plasma-settings-22.06</a></td>
   <td align="right">290kB</td>
   <td><tt>550834aef84cd53ca56d764e647d47f9a0ead29dbe556b39226901e7faf7df24</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/plasmatube-22.06.tar.xz">plasmatube-22.06</a></td>
   <td align="right">51kB</td>
   <td><tt>784408649c882095830d2ffa25e2cd3b60afbae4aaeb053bea1ed295d4623301</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/qmlkonsole-22.06.tar.xz">qmlkonsole-22.06</a></td>
   <td align="right">41kB</td>
   <td><tt>f6bc6f1694b8d55d5781a0f627ca261f9cd69ca413b7c7f5734f1b53d62244c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/spacebar-22.06.tar.xz">spacebar-22.06</a></td>
   <td align="right">96kB</td>
   <td><tt>794eb2770dff947f8b585e1f9a6d44b26a9a0d62e076ce914fcf35e4e07e894a</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/telly-skout-22.06.tar.xz">telly-skout-22.06</a></td>
   <td align="right">66kB</td>
   <td><tt>ee922ac580570ece51e4d8cc26d067aa9bac18229605af969c61964e04a92b26</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/tokodon-22.06.tar.xz">tokodon-22.06</a></td>
   <td align="right">137kB</td>
   <td><tt>0b6249faae3fcde2e0de63a483ca8f270ecaad5adc264bca592ad2a3bd20ef31</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.02/vakzination-22.06.tar.xz">vakzination-22.06</a></td>
   <td align="right">51kB</td>
   <td><tt>776d6db19882a089ae7028477dde64fde71b549b8dddbbf20231e9eb92424571</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/kweathercore/0.6/kweathercore-0.6.tar.xz">kweathercore-0.6</a></td>
   <td align="right">53kB</td>
   <td><tt>67d6315b1ba1acca6222960f9d5059add728bcc5d09b02e511fc66ad97b6e24d</tt></td>
</tr>

</table>
